@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.link {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.link-light {
  color: #fff;
}
.app {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #020230;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.main {
  flex: 3;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("./assets/images/bgr.jpg") center;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.top {
  height: 30%;
  position: relative;
}

.bottom {
  height: 60%;
}
